*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed black;
}

html,
body{
  height: 4121px;
  min-width: 1680px;
}

/* #region debug*/

.debug{

  header
  {
    height: 80px;
  }

  .container-sm
  {
    min-height: 390px;
    background-color: pink;
  }

}

.container{
  width: 80%;
  margin: 0 auto;
}

.container-sm{
  width: 65%;
  margin: 0 auto;
}

.d-flex{
  display: flex;
}

/* #endregion debug*/

/* #region Header */

#app-header{
  height: 75px;
}

nav.container{
  height: 100%;
  width: 60%;
  padding: 1 rem;
  justify-content: space-between;
  align-items: center;
}

/*.container{
  display: flex;
  max-width: 1194px;
  margin: 25px auto;
  padding: 10px;
  height: 42;
}

.debug-style {
  background-color: beige;
  min-height: 50px;
  border: 1px solid black;
}

.left-bar{
  display: flex;
  width: 20%;
  align-items: center;
}

.center-bar{
  display: flex;
  width: 60%;
  align-items: center;
}

.right-bar{
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: flex-end;
} */

/* #endregion Header */

/* #region Main */

/*main
{
  background-color: blue;
  height: 2801px;
  width: auto;
}*/

.download{
  max-width: 600px;
  padding: 10px;
  height: 400px;
  width: 910;
}

.testo{
  display: flex;
  height: 503px;
  justify-content: center;
  align-items: center;
  background-image: url(../img/jumbo.png);
}

#study-group{
  background-color: aliceblue;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}
.w-60{
  width: 60%;
}
.w-40{
  width: 40%;
}
.d-flex{
  display: flex;
}


#voice-connected{
  background-color: antiquewhite;
}

#coach{
  background-color: aliceblue;
}

#tecnologia{
  background-color: antiquewhite;
}

.final-text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 887px;
  margin: 0 auto;
}
/* #endregion Main */

/* #region Footer */
footer
{
  height: 738px;
  background-color: orange;
}
/* #endregion Footer */
