*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed black;
}

html,
body{
  height: 4121px;
  min-width: 1680px;
}

.container{
  width: 75%;
  margin: 0 auto;
}

.container-sm{
  width: 65%;
  margin: 0 auto;
}

.d-flex{
  display: flex;
}

/* #region Header */

#app-header{
  height: 75px;
}

nav.container{
  height: 100%;
  width: 60%;
  padding: 1 rem;
  justify-content: space-between;
  align-items: center;
}

/* #endregion Header */

/* #region Main */

.testo{
  display: flex;
  height: 503px;
  justify-content: center;
  align-items: center;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;
}

.download{
  max-width: 600px;
  padding: 10px;
  height: 400px;
  width: 910;
}

#study-group{
  background-color: aliceblue;
  padding-top: 30px;
  padding-bottom: 30px;
}

.w-60{
  width: 60%;
}
.w-40{
  width: 40%;
}
.d-flex{
  display: flex;
}


#voice-connected{
  background-color: antiquewhite;
  padding-top: 30px;
  padding-bottom: 30px;
}

#coach{
  background-color: aliceblue;
  padding-top: 30px;
  padding-bottom: 30px;
}

#tecnologia{
  background-color: antiquewhite;
  padding-top: 30px;
  padding-bottom: 30px;
}

.final-text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 887px;
  margin: 0 auto;
}
/* #endregion Main */

/* #region Footer */
footer
{
  height: 738px;
  background-color: orange;
}
/* #endregion Footer */
