*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed black;
}

html,
body{
  font-family: Arial, Helvetica, sans-serif;
}

.d-flex{
  display: flex;
  align-items: center;
}

/* #region Header */

header{
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.container{
  height: 100%;
  width: 60%;
  width: 1200px;
  margin: 0 auto;
  padding: 1 rem;
  justify-content: space-between;
  align-items: center;
}

.menù li{
  display: inline-block;
  margin-right: 20px;
}

.action{
  background-color: #fff;
  padding: 16px 32px;
  border: none;
  border-radius: 48px;
}

.jumbotron{
  display: flex;
  justify-content: center;
  min-height: 70vh;
  text-align: center;
}

.container-sm{
  width: 40%;
  max-width: 600px;
  margin: 0 auto;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 48px;
  margin-bottom: 32px;
}

p{
  line-height: 24px;
  margin-bottom: 24px;
}

section{
  .action{
    font-size: 20px;
  }
}

/* #endregion Header */

/* #region Main */

.d-flex{
  display: flex;
}

.w-60{
  width: 60%;
}

.w-40{
  width: 40%;
}

#study-group{
  background-color: white;
  min-height: 500px;
  margin: 0 auto;
  padding: 100px 0;

  .container{
    gap: 3rem;
  }

  h2{
  font-size: 40px;
  margin-bottom: 32px;
  padding-top: 0;
  }

  p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
  }

}

#voice-connected{
  background-color:  rgb(234, 234, 234);
  min-height: 500px;
  margin: 0 auto;
  padding: 100px 0;

  .container{
    gap: 3rem;
  }

  h2{
  font-size: 40px;
  margin-bottom: 32px;
  padding-top: 0;
  }

  p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

#coach{
  background-color: white;
  min-height: 500px;
  margin: 0 auto;
  padding: 100px 0;

  .container{
    gap: 3rem;
  }

  h2{
  font-size: 40px;
  margin-bottom: 32px;
  padding-top: 0;
  }

  p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

#tecnologia{
  background-color:  rgb(234, 234, 234);
  text-align: center;

  .container{
    min-height: 500px;
    margin: 0 auto;
    padding: 100px 0;
  }

  .final-text{
    display: flex;
    flex-direction: column;
  }

  h2{
    font-size: 40px;
    margin-bottom: 32px;
    padding-top: 0;
    }

  p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
  }

  h3{
    font-size: 1.7rem;
    margin-bottom: 2rem;
  }

  .stelline{
    margin: 0 auto;
  }

  .action{
    background-color: #8ea1e1;
    padding: 16px 32px;
    border: none;
    border-radius: 48px;
  }

}

/* #endregion Main */

/* #region Footer */
footer
{
  height: 738px;
  background-color: orange;
}


/* #endregion Footer */
